In [10]:
pip install pyxlsb

Collecting pyxlsb
  Downloading pyxlsb-1.0.10-py2.py3-none-any.whl.metadata (2.5 kB)
Downloading pyxlsb-1.0.10-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.10
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import pyodbc
import pyxlsb

In [2]:
conn_str = (     r'driver={SQL Server};' 
            r'server=(local);'   
            r'database=ODS;'   
            r'trusted_connection=yes;'    ) 
cnxn = pyodbc.connect(conn_str) 
cursor = cnxn.cursor()

In [3]:
# Define the table name
table_name = 'Nasim'

In [11]:
# the Address for data
#file="F:\DWH\DWH_IMPORT\PIM Data\PIM_Data_2024-04-02_09-23-43.xlsx"
url="F:\DWH\Phyton\PIM.xlsx"

In [12]:
data=pd.read_excel(url)

In [13]:
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sys_id            2 non-null      int64
 1   sys_entitytype    2 non-null      object
 2   ProductLevel0     2 non-null      object
 3   ProductLevel0_en  2 non-null      object
 4   ProductLevel1     2 non-null      object
 5   ProductLevel1_en  2 non-null      object
dtypes: int64(1), object(5)
memory usage: 228.0+ bytes

In [14]:
df.fillna('', inplace=True)

In [17]:
# the number of rows

countRows=df.shape[0]
countRows

2

In [ ]:
countRows= count

## Creat table in SQL

In [9]:

# Initialize an empty list to store column definitions
column_definitions = []

# Iterate over column names and data types
for column, dtype in df.dtypes.items():
    # Enclose the column name in square brackets
    column = f'[{column}]'
    # Define the data type based on dtype
    if dtype == 'object':
        data_type = 'VARCHAR(100)'
    elif dtype == 'int64':
        data_type = 'INT'
    elif dtype == 'float64':
        data_type = 'FLOAT'
    elif dtype == 'bytes':
        data_type = 'VARBINARY(MAX)'
     elif dtype == 'datetime64[ns]':  # Assuming datetime64[ns] dtype for datetime columns
           data_type = 'DATETIME'   
    # Append the formatted column definition to the list
    column_definitions.append(f'{column} {data_type}')

# Join the column definitions into a single string
table_definition = ', '.join(column_definitions)

# Print the table definition
print(table_definition)

[DataAreaID] VARCHAR(100), [InventLocationID] VARCHAR(100), [WarehouseName] VARCHAR(100), [ProductID] VARCHAR(100), [GlobalProductNumber] VARCHAR(100), [ProductDescription] VARCHAR(100), [ProductGroupID] VARCHAR(100), [ProductGroup] VARCHAR(100), [StockOnHand] FLOAT, [StockValue] VARCHAR(100), [QtyOnOrder] FLOAT, [AvailForOrder] FLOAT, [PhysicalInvent] FLOAT, [InventDate] FLOAT, [Week] INT

In [11]:
#Define the table name
table_name = 'StockData'

#Generate the CREATE TABLE statement with column definitions
create_table_query = f'''
CREATE TABLE {table_name} (
    {table_definition}
)
'''

#Execute the CREATE TABLE statement
cursor.execute(create_table_query)
cnxn.commit()

In [42]:
create_table_query

'\nCREATE TABLE SalesData (\n    SalesID INT, InvoiceID INT, InvoiceDate VARCHAR(100), CustomerID VARCHAR(100), CustomerName VARCHAR(100), CustomerSector VARCHAR(100), MarketSegmentID VARCHAR(100), CustomerType VARCHAR(100), SalesChannel VARCHAR(100), CustomerGroupID VARCHAR(100), Item/ProductID VARCHAR(100), ProductName VARCHAR(100), ProductGroupID VARCHAR(100), ProductGroupName VARCHAR(100), ProductSubgroupCode VARCHAR(100), ProductSubGroupName VARCHAR(100), InvoiceLineNumber INT, Quantity FLOAT, InvoiceLineAmount FLOAT, CurrencyCode VARCHAR(100), PriceUnit INT, SalesUnit VARCHAR(100), UnitPrice FLOAT, CostPrice FLOAT, LineMargin FLOAT, DataAreaID VARCHAR(100)\n)\n'

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56662 entries, 0 to 56661
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DataAreaID           56662 non-null  object
 1   InventLocationID     56662 non-null  object
 2   WarehouseName        56662 non-null  object
 3   ProductID            56662 non-null  object
 4   GlobalProductNumber  56662 non-null  object
 5   ProductDescription   56662 non-null  object
 6   ProductGroupID       56662 non-null  object
 7   ProductGroup         56662 non-null  object
 8   StockOnHand          56662 non-null  float64
 9   StockValue           56662 non-null  object
 10  QtyOnOrder           56662 non-null  float64
 11  AvailForOrder        56662 non-null  float64
 12  PhysicalInvent       56662 non-null  float64
 13  InventDate           56662 non-null  float64
 14  Week                 56662 non-null  int64
dtypes: float64(5), int64(1), object(9)
memory usage: 6.5+ MB

# Manually creat table

In [46]:
cursor.execute('''
               CREATE TABLE SalesData
                    (SalesID INT NOT NULL,
                    InvoiceID  INT NOT NULL,
                    InvoiceDate VARCHAR(100) NOT NULL,
                    CustomerID VARCHAR(100) NOT NULL,
                    CustomerName  VARCHAR(100) NOT NULL,
                    CustomerSector  VARCHAR(100) NOT NULL,
                    MarketSegmentID VARCHAR(100) NOT NULL,
                    CustomerType VARCHAR(100) NOT NULL,
                    SalesChannel  VARCHAR(100) NOT NULL,
                    CustomerGroupID  VARCHAR(100) NOT NULL,
                    [Item/ProductID] VARCHAR(100) NOT NULL,
                    ProductName VARCHAR(100) NOT NULL,
                    ProductGroupID VARCHAR(100) NOT NULL,
                    ProductGroupName VARCHAR(100) NOT NULL,
                    ProductSubgroupCode VARCHAR(100) NOT NULL,
                    ProductSubGroupName  VARCHAR(100) NOT NULL,
                    InvoiceLineNumber INT NOT NULL,
                    Quantity FLOAT NOT NULL,
                    InvoiceLineAmount FLOAT NOT NULL,
                    CurrencyCode VARCHAR(100) NOT NULL,
                    PriceUnit INT NOT NULL,
                    SalesUnit VARCHAR(100) NOT NULL,
                    UnitPrice FLOAT NOT NULL,
                    CostPrice FLOAT NOT NULL,
                    LineMargin FLOAT NOT NULL,
                    DataAreaID VARCHAR(100) NOT NULL,
                   )
                   
               ;
               ''')
cnxn.commit()

In [57]:
query = '''
        SELECT * 
            FROM SalesData
        ;
            '''

df_NewDF = pd.read_sql(query, cnxn)
df_NewDF.head(2)

C:\Users\admin.nasim\AppData\Local\Temp\2\ipykernel_7216\528067318.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_NewDF = pd.read_sql(query, cnxn)

Empty DataFrame
Columns: [SalesID, InvoiceID, InvoiceDate, CustomerID, CustomerName, CustomerSector, MarketSegmentID, CustomerType, SalesChannel, CustomerGroupID, Item/ProductID, ProductName, ProductGroupID, ProductGroupName, ProductSubgroupCode, ProductSubGroupName, InvoiceLineNumber, Quantity, InvoiceLineAmount, CurrencyCode, PriceUnit, SalesUnit, UnitPrice, CostPrice, LineMargin, DataAreaID]
Index: []

[0 rows x 26 columns]

In [19]:
df_NewDF.shape

(0, 21)

# Truncate old values

cursor.execute( '''
        truncate table products
        
               ;
               ''')
cnxn.commit()

for index, row in df.iterrows():
     cursor.execute('''
                    INSERT INTO dbo.products04 
                    (sys_id,
                    sys_entitytype,
                    ProductLevel0,
                    ProductLevel0_en,
                    ProductLevel1,
                    ProductLevel1_en,
                    ProductLevel2,
                    ProductLevel2_en,
                    ProductLevel3,
                    ProductLevel3_en,
                    ProductLevel4,
                    ProductLevel4_en,
                    ProductFamily1,
                    [ProductFamily1 (values)],
                    ItemNumber,
                    ItemLifeCycleStatus,
                    [ItemLifeCycleStatus (values)],
                    ItemPNSupplier,
                    ItemPNHUB,
                    ItemPNARG,
                    ItemPNAUS,
                    ItemPNCOL,
                    ItemPNCZ,
                    ItemPNFIN,
                    ItemPNFR,
                    ItemPNLIT,
                    ItemPNNL,
                    ItemPNOEMCZ,
                    ItemPNOEMFRA,
                    ItemPNOEMKOR,
                    ItemPNOEMPSI,
                    ItemPNOEMRHAM,
                    ItemPNOEMUK,
                    ItemPNPER,
                    ItemPNPOL,
                    ItemPNSGN,
                    ItemPNUAE,
                    ItemPNUK,
                    ItemPNHYSP,
                    ItemPNSEAFR,
                    ItemPNRHAU,
                    ItemPNRHNZ,
                    ItemPNRHZA,
                    ItemSupplier,
                    [ItemSupplier (values)]) 
                    values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
                    ''', 
                    row.sys_id, 
                    row.sys_entitytype, 
                    row.ProductLevel0, 
                    row.ProductLevel0_en,
                    row.ProductLevel1,
                    row.ProductLevel1_en,
                    row.ProductLevel2,
                    row.ProductLevel2_en,
                    row.ProductLevel3,
                    row.ProductLevel3_en,
                    row.ProductLevel4,
                    row.ProductLevel4_en,
                    row.ProductFamily1,
                    row['ProductFamily1 (values)'],
                    row.ItemNumber,
                    row.ItemLifeCycleStatus,
                    row['ItemLifeCycleStatus (values)'],
                    row.ItemPNSupplier,
                    row.ItemPNHUB,
                    row.ItemPNARG,
                    row.ItemPNAUS,
                    row.ItemPNCOL,
                    row.ItemPNCZ,
                    row.ItemPNFIN,
                    row.ItemPNFR,
                    row.ItemPNLIT,
                    row.ItemPNNL,
                    row.ItemPNOEMCZ,
                    row.ItemPNOEMFRA,
                    row.ItemPNOEMKOR,
                    row.ItemPNOEMPSI,
                    row.ItemPNOEMRHAM,
                    row.ItemPNOEMUK,
                    row.ItemPNPER,
                    row.ItemPNPOL,
                    row.ItemPNSGN,
                    row.ItemPNUAE,
                    row.ItemPNUK,
                    row.ItemPNHYSP,
                    row.ItemPNSEAFR,
                    row.ItemPNRHAU,
                    row.ItemPNRHNZ,
                    row.ItemPNRHZA,
                    row.ItemSupplier,
                    row['ItemSupplier (values)'])
cnxn.commit()

In [13]:
# Example list of column names for fill the values
columns = list(df.columns)

# Iterate over the columns
for i, column in enumerate(columns):
    # Check if there's a space in the column name
    #if ' ' in column:
        # If there's a space, enclose the column name in square brackets
        columns[i] = f'[{column}]'
columns

['[DataAreaID]',
 '[InventLocationID]',
 '[WarehouseName]',
 '[ProductID]',
 '[GlobalProductNumber]',
 '[ProductDescription]',
 '[ProductGroupID]',
 '[ProductGroup]',
 '[StockOnHand]',
 '[StockValue]',
 '[QtyOnOrder]',
 '[AvailForOrder]',
 '[PhysicalInvent]',
 '[InventDate]',
 '[Week]']

In [15]:
#row= [f"row.{value}" for value in columns ]

In [14]:
# Example list of column names for fill the values
row = [f"row{value}" if value.startswith('[') and value.endswith(']') else f"row.{value}" for value in columns]
row

['row[DataAreaID]',
 'row[InventLocationID]',
 'row[WarehouseName]',
 'row[ProductID]',
 'row[GlobalProductNumber]',
 'row[ProductDescription]',
 'row[ProductGroupID]',
 'row[ProductGroup]',
 'row[StockOnHand]',
 'row[StockValue]',
 'row[QtyOnOrder]',
 'row[AvailForOrder]',
 'row[PhysicalInvent]',
 'row[InventDate]',
 'row[Week]']

In [15]:
#Query for Insert the row values to table in SQL Server

insert_query = f'''
    INSERT INTO StockData 
    ({', '.join(columns)})
    VALUES ({', '.join(['?' for _ in columns])})
'''

# Iterate over rows in the DataFrame
for index, row in df.iterrows():
    # Execute the SQL insert statement with row values
    cursor.execute(insert_query, tuple(row))

# Commit the transaction
cnxn.commit()

In [16]:
query = '''
        SELECT * 
            FROM StockData 
        ;
            '''

NewDF02 = pd.read_sql(query, cnxn)
NewDF02

C:\Users\admin.nasim\AppData\Local\Temp\2\ipykernel_34924\461663626.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  NewDF02 = pd.read_sql(query, cnxn)

,DataAreaID,InventLocationID,WarehouseName,ProductID,GlobalProductNumber,ProductDescription,ProductGroupID,ProductGroup,StockOnHand,StockValue,QtyOnOrder,AvailForOrder,PhysicalInvent,InventDate,Week
0,RHAU,030,Melbourne,10-10SS,10-10SS,M16X1.5 FEMALE NUT SS316 ...,MADACOM,Adaptors Componentry,2.0,9.5378,0.0,2.0,2.0,45394.2775,15
1,RHAU,030,Melbourne,10-21/ASC,10-21/ASC,DGS1043 GR1 M20*1.5 FEMALE NUT ...,MADACOM,Adaptors Componentry,79.0,452.733,0.0,79.0,79.0,45394.2775,15
2,RHAU,030,Melbourne,10-21DGS,10-21DGS,DGS1043 M20*1.5 FEMALE NUT,MADACOM,Adaptors Componentry,28.0,375.262,0.0,28.0,28.0,45394.2775,15
3,RHAU,030,Melbourne,10-21SS,10-21SS,M20X1.5 FEMALE NUT SS316 ...,MADACOM,Adaptors Componentry,27.0,123.863,0.0,27.0,27.0,45394.2775,15
4,RHAU,030,Melbourne,10-21SS0,10-21SS0,SS316 M20* SLIP ON FEMALE NUT ...,MADACOM,Adaptors Componentry,5.0,26.0945,0.0,5.0,5.0,45394.2775,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56657,FLCUSA,OEM,Houston OEM - (HOU),XMIKALOR34-37MM,XMIKALOR34-37MM,MIKALOR CLAMP 34-37MM,SACCMCL,Mounting Clamps,340.0,813.366,600.0,260.0,340.0,45394.2775,15
56658,FLCUSA,OEM,Houston OEM - (HOU),XMIKALOR37-40MM,XMIKALOR37-40MM,MIKALOR CLAMP 37-40MM SRF16 ...,SACCMCL,Mounting Clamps,481.0,1110.34,0.0,143.0,481.0,45394.2775,15
56659,FLCUSA,OEM,Houston OEM - (HOU),XMIKALOR43-47MM,XMIKALOR43-47MM,MIKALOR CLAMP 43-47MM SRF20 ...,SACCMCL,Mounting Clamps,135.0,402.3,0.0,0.0,135.0,45394.2775,15
56660,FLCUSA,OEM,Houston OEM - (HOU),XTY25MX,XTY25MX,7 INCH NYL BLK CBL TIE,ZUBIMIS,Buy In Miscellaneous,3998.0,2197.31,0.0,3998.0,3998.0,45394.2775,15
56661,FLCUSA,OEM,Houston OEM - (HOU),XTY27MX,XTY27MX,13 INCH NYL BLK CBL TIE,ZUBIMIS,Buy In Miscellaneous,2777.0,348.516,500.0,2777.0,2777.0,45394.2775,15